.header {
    background: linear-gradient(45deg, red, orange);
    max-height: 100%;
    max-width: 100%;
    display: flex;
}
.header img {
    padding-top: 5em;
    padding-bottom: 5em;
    padding-left: 5em;
    padding-right: 50px;
    height: 300px;
    width: 250px;

}
.header h1 {
    padding-top: 4em;
    color: white;
}
.header p {
    color: white;
    width: 500px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.header button {
    background-color: red;
    color: white;
    font-weight: bold;
    border: solid 1px red;
    height: 30px;
    width: 150px;
    
} 
